asgiref==3.8.1
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
localflavor==1.9
pillow==10.3.0
postgres==4.0
psycopg==3.1.18
psycopg2-binary==2.9.9
psycopg2-pool==1.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
